*{
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    padding: 10px;
    padding-bottom: 90px;
}

.header{
    margin-right: auto;
    padding-left: 200px;
    color: #f9FAF8;
    font-size: 24px;
    font-weight:bold;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 200px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #E5E7EB
}

.hero{
    background-color: #1f2937;
    display: flex;
    padding-left: 210px;
    padding-bottom: 100px;
    
}

.sub-hero-text{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 18;
}

.hero-text{
    font-size: 48px;
    color:#f9FAF8;
    font-weight: 900;
}

.h-text{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: auto;
}


.h-text button{
    text-align: center;
    background-color: #3882F6;
    height: 40px;
    width: 100px;
    padding: 5px 25px;
    border-radius: 10px;
    color: #f9FAF8;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 10px;
}

.img{
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9FAF8;
    flex-basis: 450px;
    height: 200px;
    margin-right: 210px;
}

.info{
    display: flex;
    gap: 50px;
    flex-direction: column;
    padding-top: 50px;
}

.info-boxes{
    display: flex;
    justify-content: center;
    gap: 200px;
    flex-basis: 250px;

}

.inner-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 120px;
    max-height: 120px;
}

.info-text{
    font-size: 18px;
    font-weight: 10;
    text-align: center;
}

.info-header{
    align-self: center;
    font-size: 30px;
    font-weight: 500;
    flex: auto;
}

.info-box{
    width: 120px;
    min-height: 120px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    flex: auto;
}

.quote-layout{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 220px;
}

.quote{
    display: flex;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;

}

.quote-size{
    display: flex;
    flex-direction: column;
    width: 800px;
}

.signiture{
    font-weight: bold;
    align-self:center;
    font-size: 20px;
    margin-left: 400px;
    max-width: 100px;
    white-space: nowrap;

}

.signup-box{
    display: flex;
    background-color: #3882F6;
    padding: 25px;
    gap: 20px;
    border-radius: 10px;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 250px;
    gap: 20px;
}

.signup-text{
    flex-basis: 500px;
}

.signup-header{
    color: #f9FAF8;
    font-size: large;
    font-weight: bold;
}

.signup-sub-text{
font-size: 16px;
}

.signup-button{
    background-color: #3882F6;
    color: #f9FAF8;
    font-weight: bold;
    border-color: #f9FAF8;
    padding: 5px 25px;
    border-radius: 10px;
    white-space: nowrap;
    width: 100px;
    height: 40px;
}

.footer{
    background-color: #1f2937;
    color:#f9FAF8;
    display: flex;
    font-weight: 400;
    flex-basis: 100px;
    justify-content: center;
    align-items: center;
}